/*for stylinng of my animation*/
@keyframes divcolor{
    0%{
        transform: rotateX(120deg);}
    50%{
    border-radius: 100%;}
    100%{
         transform: translateX();
         }
}
/* for responsiveness of my word menu*/
.menua{
    background-color: #57a4b9;
    border-radius: 10%;
    animation-name: divcolor;
    animation-duration: 10s;
    width: 70px;
    height: fit-content;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    border: 5px solid royalblue;
}

img{
    border: 5px solid rgb(67, 10, 10);
    margin-top: 10px;
    
   } 



button{
    margin-top: 50px;
    width: 80PX;
    height: 80PX;
    background-color: aqua;
    font-family: 'Times New Roman', Times, serif;
    animation-name: divcolor;
    animation-duration: 10s;
    font-size: large;
    border-radius: 360px;
    border: 5px solid rgb(62, 4, 4) ;
    border-style: double;
}


/*for my flexbox*/
.container{
    border: double maroon;
    border-style: double;
    display: flex;
    flex-direction: column;
    animation-name: divcolor;
    animation-duration: 5s;
}
/*for my CSS Grid*/
.grid-wrapper {
    display: grid;
    
    grid-gap: 2vw;
}
.grid-item1{
    
    color: #000000;
    padding: 1rem;
    background-color: white;
    height: fit-content;
    width: fit-content;
    border:5px solid rgb(116, 7, 7);
    border-radius: 10%;
}

.grid-item2{
    background-color: white;
    color: #000000;
    padding: 1rem;
    width: fit-content;
    border:5px solid rgb(116, 7, 7);
    border-radius: 10%;
}
/*to position my content*/
.parent1{
    display: grid;
    grid-template-columns: 1fr
     1fr 1fr;
    gap: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.grid-item3{
    
    color: #000000;
    padding: 1rem;
    width: auto;
    background-color: white;
    height: fit-content;
    border:5px solid rgb(116, 7, 7);
    border-radius: 10%;
}

.grid-item4{
    
    color: #000000;
    padding: 1rem;
    width: fit-content;
    background-color: white;
    height: fit-content;
    border:5px solid rgb(116, 7, 7);
    border-radius: 10%;
}

.grid-item5{
    color: #000000;
    padding: 1rem;
    padding-right: 10px;
    background-color: white;
    height: fit-content;
    border:5px solid rgb(116, 7, 7);
    border-radius: 10%;
}


.grid-item6{
    background-color: white;
    height: fit-content;
    color: #000000;
    padding: 1rem;
    border:5px solid rgb(116, 7, 7);
    border-radius: 10%;
}
/*to position my grid items*/
.parent2{
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 20px;
}

form{
    background-color: white;
    height: fit-content;
    color: #000000;
    padding: 1rem;
    border:5px solid rgb(116, 7, 7);
    border-radius: 10%;
}
/*Responsivness*/
@media (min-width: 0px) {
    body { background-image: url(../Images/last.jpg);
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    }
    img{
        border-radius: 0%;
        width: 150px;
        height: 140px;
    }
    header{
        text-align: center;
        margin-right: 50px;
    }   
    
} 
/* Small devices (portrait tablets and large phones, 650px and up) */
@media (min-width: 650px) {
    body { background-image: url(../Images/body.jpg);
    font-family: monospace;
    font-size: large; }
    img{
        border-radius: 50%;
        width: 200px;
        height: 200px;
    }
    .picintro{
        font-family: 'Times New Roman', Times, serif;
        display: flex;
        flex-direction: row;
    }
    .intro{
        margin-top: 150px;
        padding-left: 50px;
    }
 } 

  /* Large devices (laptops/desktops, 900px and up) */
  @media (min-width: 900px) {
    body { background-image: url(../Images/resume_background_img.jpg);
    font-family: monospace;
    font-size: larger; }
    img{
        border-radius: 50%;
        width: 250px;
        height: 320px;
        margin-bottom: 40px;
        
 } 
    header{
        margin-left: 200px;
        text-align: center;

    }
    .picintro{
        font-family: 'Times New Roman', Times, serif;
        display: flex;
        flex-direction: row;
        
    }
    .intro{
        margin-top: 150px;
        padding-left: 50px;
        
    }
    
 }
 
   