/*for stylinng of my animation*/
@keyframes divcolor{
    0%{
        transform: rotateX(120deg);}
    50%{
    border-radius: 100%;}
    100%{
         transform: translateX();
         }
}
/* for responsiveness of my word menu*/
.menua{
    background-color: #57a4b9;
    border-radius: 10%;
    animation-name: divcolor;
    animation-duration: 10s;
    width: 70px;
    height: fit-content;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
}

/*for my flexbox*/
.container{
    display: flex;
    flex-direction: column;
    border-style: double;
    border-color: rgb(72, 5, 5);
    animation-name: divcolor;
    animation-duration: 5s;
}